.p-breadcrumbs {
    font-size: 13px;
    padding: 30px 0;
}

.p-breadcrumbs__item {
    color: #727272;
}

a.p-breadcrumbs__item:hover {
    color: #727272;
    text-decoration: underline;
}

.p-breadcrumbs__item_current {
    color: #0e4061;
    font-weight: bold;
}

.p-breadcrumbs__item + .p-breadcrumbs__item:before {
    display: inline-block;
    padding-right: 12px;
    padding-left: 12px;
    color: #a9b5c7;
    content: ">";
}
