// автоподключение в webpack-base.js sass-resources-loader
// Body
$body-bg: #f5f8fa;

$yellow-color: #ffc411;
$blue-color: #041f31;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
