/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.webpack
_ide_helper.php

/public/js/app*
/public/js/cabinet*
/public/js/homepage*
/public/js/excursion*
/public/js/tour*
/public/js/place*
/public/js/information-pages*

/public/css/app*
/public/css/cabinet*
/public/css/homepage*
/public/css/excursion*
/public/css/tour*
/public/css/place*
/public/css/information-pages*

/public/reports
/storage/*
/public/vendors*
/public/fonts/
/public/manifest.json
/v8-compile-cache-*
/resources/assets/*/*/.sass-cache/*
/resources/assets/*/.sass-cache/*
