@font-face {
  font-family: 'PT Sans';
  font-display: fallback;
  src: url("../fonts/ptsans/ptsansregular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  font-display: fallback;
  src: url("../fonts/ptsans/ptsansbold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
