.p-order-date {
    padding: 0 20px;
    border-bottom: 1px solid #e8e8e8;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.p-order__select-date {
    padding-bottom: 16px;
    position: relative;
    width: 100%;
}

.p-order__select-date-input {
    outline: none;
    background: #f6f6f6;
    border: 1px solid #56996e;
    border-radius: 5px;
    color: #666666;
    padding: 18px 15px;
    width: 100%;
}

.p-order__select-participates-input {
    outline: none;
    background: #f6f6f6;
    border: 1px solid #56996e;
    border-radius: 5px;
    color: #666666;
    padding: 18px 15px;
    width: 100%;
}

.p-order__select-date-title {
    font-size: 18px;
    padding-bottom: 10px;
}

.p-order__select-participates-title {
    font-size: 18px;
    padding-bottom: 10px;
}

.p-order__select-participates-form {
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    border-radius: 5px;
    position: absolute;
    width: 100%;
    background: #fff;
    z-index: 9;
    padding: 16px;
    display: none;
    &_active {
        display: flex;
        flex-flow: column;
    }
}

.p-order__select-date-form {
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    border-radius: 5px;
    position: absolute;
    width: 100%;
    background: #f6f6f6;
    flex-flow: column;
    align-items: center;
    padding: 16px;
    z-index: 8;
    display: none;
    &_active {
        display: flex;
        align-items: center;
    }
}

.p-order__select-date-legend {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 10px;
}

.p-order__select-date-legend_available,
.p-order__select-date-legend_unavailable,
.p-order__select-date-legend_selected {
    &:before {
        content: '';
        display: inline-block;
        text-align: center;
        width: 18px;
        height: 18px;
        vertical-align: middle;
        margin-right: 10px;
    }
}

.p-order__select-date-legend_selected {
    &:before {
        background: #f6c039;
    }
}

.p-order__select-date-legend_available {
    &:before {
        background: #42b278;
    }
}

.p-order__select-date-legend_unavailable {
    &:before {
        background: #989898;
    }
}

.p-order__select-participates {
    position: relative;
    width: 100%;
}

.p-order__select-description {
    color: #000000;
    font-size: 18px;
}

.p-order__select-sub {
    font-size: 12px;
    font-weight: bold;
    color: #adb1b4;
}

.p-order__select-control {
    display: flex;
    align-items: center;
}

.p-order__select-minus, .p-order__select-plus {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #747b82;
    text-align: center;
    line-height: 30px;
    color: #c7cacd;
    border-radius: 5px;
    transition: all ease .3s;
    cursor: pointer;
    user-select: none;
}

.p-order__select-minus:hover, .p-order__select-plus:hover {
    background: #ffd961;
    color: #000
}

.p-order__select-minus svg, .p-order__select-plus svg {
    stroke: #fff;
    transition: all ease .3s;
}

.p-order__select-minus:hover svg, .p-order__select-plus:hover svg {
    stroke: #000;
}

.p-order__select-count {
    font-size: 16px;
    font-weight: bold;
    width: 40px;
    display: inline-block;
    text-align: center;
}

.p-order__select-item-block {
    margin-bottom: 16px;
}

.p-order__select-item-block {
    background: #f6f6f6;
    border-radius: 5px;
    padding: 10px 15px;
    line-height: 1.3;
    display: flex;
    justify-content: space-between;
    border: 1px solid transparent;
}

.p-order__select-item-block_error {
    border-color: #f24841;
}

.p-order__select-item-error {
    color: #f24841;
    padding: 10px 10px 0;
}

.p-order__departure-time {
    padding-top: 16px;
}

.p-order__departure-time-title {
    font-size: 18px;
    padding-bottom: 10px;
}

.p-order__departure-time-wrap {
    display: flex;
    flex-wrap: wrap;
}

.p-order__departure-time-item {
    width: 70px;
    text-align: center;
    background: #8cd7b1;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    color: #363a43;
    transition: background ease .3s;
    &:not(:last-child) {
        margin-right: 10px;
    }
}

.p-order__departure-time-item_active {
    background: #ffd961;
}

.p-order__departure-time-item:hover {
    background: #ffd961
}

.p-order_accept {
    margin-top: 16px;
}
